a{
    font-weight: bolder ;
    text-decoration:none;
    color: #464F34;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px;
    background-color: #DCD5B9;
    color: #464F34;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

.lojas-pagina-inicial a{
  color: #464F34;  
  font: bold;
  border-style: inset;
  padding: 20px;
  background-color:white;
  border-radius: 20px;
}

.cabecalho{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: "Fredoka", sans-serif;
}

.cabecalho a{
    color: #464F34;
    padding: 5px;
    margin-top: 100px;
}

header .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pesquisa{
    margin-left: 22px;
}

#Cta{
    background-color: #fcf5dc;
    color: #464F34;
    padding: 20px;
   
}

.Loja-do-dia{
    
    font-style: bold;
    background-color:#44522a ;
    padding: 10px;
    color: white;

    a{
        color: #d3cfbf;
        padding: 5px;
        border-radius: 10px;
    }
}


.cashback{
    padding: 20px;
    display: inline;
    padding-right: 10px;
}

.cashback li{
    display: inline;
    padding: 30px;
}



.cupons li{
    margin-left: 30px;
    border-radius: 10px;
    border-style: groove;
    display: inline;
    padding: 20px;
}

/* border-style: ridge; */

.sobre{
    font-style: bold;
    background-color:#44522a ;
    padding: 10px;
    border-radius: 2px;
    color: white;
}