a{
    font-weight: bolder ;
    text-decoration:none;
    color: #464F34;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px;
    background-color: #DCD5B9;
    color: #464F34;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

.lojas-pagina-inicial a{
  color: #464F34;  
  font: bold;
  border-style: groove;
  padding: 15px;
  background-color:#DCD5B9 ;
}

.cabecalho{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.cabecalho a{
    color: #464F34;
    padding: 5px;
    margin-top: 100px;
    border-style: outset;
    border-color: #464F34 ;
}

header .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pesquisa{
    margin-left: 22px;
}

#Cta{
    background-color: #fcf5dc;
    color: black;
    padding: 20px;
}

.Loja-do-dia{
    border-radius: 10px;
    font-style: bold;
    background-color:#677747 ;
    padding: 10px;

    a{
        color: #fcf5dc;
        border-style: inherit;
        background-color: #464F34;
        padding: 2px;
    }
}


.cashback{
    padding: 20px;
    display: inline;
    padding-right: 10px;
}

.cashback li{
    display: inline;
    padding: 30px;
}

.sobre{
    font-style: bold;
    background-color:#677747 ;
    padding: 10px;
    border-radius: 10px;
}